.header {
    background-color: #f7f2b4;
    font-size: 30px;
    text-align: center;
  }

  .btns {
    text-align: center;
  }

  .main-imgs{
    text-align: center;
    display: block;
  }
  
  .product-imgs{
    display: none;
  }
  