  .btns {
    text-align: center;
  }

  .main-img{
    text-align: center;
  }
  
  .product-imgs{
    
    text-align: center;
    display: none;
  }
  .product-img0{
    border: 1px solid;
    float :left;
    width :33%;
  }
  .product-img1{
    border: 1px solid;
    float :left;
    width :33%;
  }
  .product-img2{
    border: 1px solid;
    float :left;
    width :33%;
  }
  .imgs{
    width: 200px;
    height: 160px;
  }